/* You can add global styles to this file, and also import other style files */

$small: 640px;
$medium: 1007px;
$large: 1008px;

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #303030;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
}
